<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/home.min.css">

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <a id="valor" class="team-item"></a>
    <a id="instinct" class="team-item"></a>
    <a id="mystic" class="team-item"></a>
    <div class="city-selection">
        <button id="vilnius" class="btn">Vilnius</button>
        <button id="kaunas" class="btn">Kaunas</button>
        <button id="klaipeda" class="btn">Klaipėda</button>
        <button id="siauliai" class="btn">Šiauliai</button>
        <button id="panevezys" class="btn">Panevėžys</button>
        <button id="alytus" class="btn">Alytus</button>
    </div>
</body>
<script src="dist/home.min.js"></script>
</html>